body {
   padding: 20px;
}

span {
   display: inline;
}

/* Vue routing transition */
.animation-enter-active,
.animation-leave-active {
   transition: transform 1s;
}

.animation-enter,
.animation-leave-to {
   transform: translateX(100%);
}

.animation-enter-to,
.animation-leave {
   transform: translateX(-100%);
}
